@font-face {
        font-family:'Poppins', sans-serif;
        font-weight:600 ;
        font-style: bold;
        src: url(/MultiPage-Clone/css/font.css);
}

@font-face {
        font-family:'Quicksand', sans-serif;
        font-weight:300;
        font-style: light;
        src: url(/MultiPage-Clone/css/font.css);
}