:root {
  --colour-background: #e6dacd;
  --colour-foreground: #f4ece6;
  --colour-accent: #0150fd;
  --colour-black: #000;
  --colour-white: #fff;

  /* base font size 12 */
  --fs-min: 12px;
  --fs-xl: calc(var(--fs-min) + 5.5rem);
  --fs-lg: calc(var(--fs-min) + 0.8125rem);
  --fs-m: calc(var(--fs-min) + 0.3125rem);
  --fs-sm: calc(var(--fs-min) + 0.125rem);
  --fs-xs: var(--fs-min);

  --gap-xl: 2.375rem;
  --gap-lg: 1.5rem;
  --gap-m: 1rem;
  --gap-sm: 0.5rem;
  --gap-xs: 0.25rem;
}

.hidden {
  display: none;
}

strong {
  font-size: var(--fs-xl);
}

h1 {
  font-size: var(--fs-lg);
  display: inline-block;
}

h2 {
  font-size: var(--fs-m);
}

h3 {
  font-size: var(--fs-sm);
}

p {
  font-size: var(--fs-m);
  display: inline-block;
}

a {
  font-size: var(--fs-sm);
}

a:hover,
a:focus,
a.actual-page {
  color: var(--colour-accent);
  fill: var(--colour-accent);
  transition: all 0.2s ease-in-out;
}

body {
  min-width: 982px;
  margin: 0 auto;
}

/* header */

#hamburger__button,
#nav__toggle {
  display: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: var(--gap-xl);
  justify-content: space-between;
}

.divider {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 var(--gap-sm);
}

#nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-lg);
}

/* main */

main {
  position: relative;
  background: linear-gradient(to right, var(--colour-background) 40%, var(--colour-white) 40%);

  height: 120vh;
}

#info {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50% , -50%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--gap-lg);
}

/* main card */

#main-card {
  background-color: var(--colour-foreground);
  
  display: grid;
  justify-items: center;
  text-align: center;
}

#main-card__info {
  display: grid;
  gap: var(--gap-lg);

  margin: var(--gap-xl) 0;
}

#main-card__info img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

#main-card__divider {
  width: 15%;
  height: 1px;
  margin: 0 auto;
  background-color: var(--colour-accent);
}

#main-card__footer {
  padding: var(--gap-m) 0;
  background-color: var(white);
}