* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Quando", serif;
}

a, a:hover, a:focus, a:visited, a:active {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

input[type="radio"] {
  appearance: none;
}