@media screen and (max-width: 400px) {
  :root {
    --fs-xxl: 3rem;
    --fs-xl: 2rem;
    --fs-l: 1.25rem;
    --fs-m: 1.175rem;
    --fs-s: 1rem;
  }

  header {
    justify-content: space-around;
  }

  main {
    grid-template-columns: 1fr;
    padding: var(--gap-xs);

    background: top -20% left 30% / 120% no-repeat url(assets/form-background.jpg);
  }

  main::before {
    background: linear-gradient(
      to top,
      var(--colour-background) 50%,
      #f4e8ff59
    );
  }

  #slogan {
    order: -1;
  }

  #form__container {
    margin: 1px;
  }

  #name__container {
    grid-template-columns: 1fr;
  }

  #tshirt-colour__container {
    gap: var(--gap-s);
  }

  #tshirt-size__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
