* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
background-image: url("/Form-Controls/jon-ly-Xn7GvimQrk8-unsplash.jpg");
background-size: cover;
background-position: 0rem 62rem;


}
/* dots design class */

.design-h {
    margin-top: 7rem;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h1-style {
    color: orangered;
}

/* form style */

.forme-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
}

.name-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;


}
.color-wrapper {
    display: flex;
    flex-direction: column;
}
.size-wrapper {
    display: flex;
    flex-direction: column;
}


.color {
    margin-bottom: 1rem;
        border-radius: 0.3rem;
        border: none;
        height: 2rem;
        padding: 3px 0px 3px 8px;
}

label {
    color: whitesmoke;
    font-size: x-large;
    padding: 5px;

}

.size {
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border: none;
    height: 2rem;
    padding: 3px 0px 3px 8px;
}

.input-box {
    width: 100%;
    height: 4rem;
}


input {
    width: 100%;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    padding: 3px 0px 3px 8px;
    color: lightgray;
} 
input::placeholder {
    color: lightgray;
}

button {
    padding: 0.7rem 1.2rem;
    border-radius: 0.2rem;
    border: none;
    margin-left: 10.3rem;
    margin-right: auto;
    color: orangered;
    background-color: white;
    font-weight: bold;
    margin-bottom: 5rem;
}
button:hover{
    background-color: black;
}



/* Footer style */

footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    
}

.logo-wrapper {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1px;
}

.my-logo {
    width: 40px;
    margin-left: 5px;
    border-radius: 1.4rem;
    /* padding-bottom: 4rem; */
}

h6 {
    padding-left: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1px;
    margin-top: 3px;

}


