html {
  background-color: #f1efdc;
}

:root {
  --colour-primary: #2c8097;
  --colour-secondary: #017fce;
  --colour-highlight: #d7263d;
  --colour-background: #e9e8ec;
  --colour-foreground: #d8d4ea;
  --colour-font: #36393b;

  --fs-xxl: 3.75rem;
  --fs-xl: 2.5rem;
  --fs-l: 1.75rem;
  --fs-m: 1.25rem;
  --fs-s: 1rem;
  --fs-xs: 0.875rem;
  --fs-xxs: 0.75rem;

  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --gap-xs: 0.5rem;

  --border-radius-l: 2rem;
  --border-radius-m: 1rem;
  --border-radius-s: 0.5rem;
  --border-radius-xs: 0.175rem;

  --page-width: 70vw;
  --page-margin: calc((100vw - var(--page-width)) / 2);
}

body {
  color: var(--colour-font);
  font-size: var(--fs-m);
}

h1 {
  font-size: var(--fs-xl);
  color: var(--colour-primary);
}

h2 {
  font-size: var(--fs-l);
  color: var(--colour-primary);
}

h3 {
  font-size: var(--fs-s);
  color: var(--colour-primary);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a:focus,
a:hover,
a:active {
  color: var(--colour-highlight);
}

/* Header */

header {
  background-color: var(--colour-foreground);
  padding: var(--gap-xs) var(--page-margin);

  display: flex;
  justify-content: space-between;
  align-items: center;

  fill: var(--colour-primary);
}

header svg {
  max-height: 40px;
  max-width: 60px;
}

/* Main */

main {
  background-color: var(--colour-background);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* form */

input[type="text"],
input[type="email"],
button {
  height: var(--fs-l);
  border: none;

  color: var(--colour-font);
  font-size: var(--fs-s);
  border-radius: var(--border-radius-xs);

  border: solid 1px var(--colour-background);

  transition: all 0.1s ease-in-out;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus {
  transform: scale(1.01, 1.05);
}

button {
  background-color: var(--colour-primary);
  color: var(--colour-background);
  cursor: pointer;

  height: var(--fs-xl);
  font-weight: 700;
  transition: all 0.1s ease-in-out;
}

button:hover,
button:focus,
button:active {
  background-color: var(--colour-secondary);
  transform: scale(1.01, 1.05);

  border: solid 2px var(--colour-primary);
}

#form__container {
  margin: var(--gap-l) 0 var(--gap-l) var(--page-margin);
  padding: var(--gap-m);
  background-color: var(--colour-foreground);

  border-radius: var(--border-radius-s);
}

form {
  display: grid;
  gap: var(--gap-s);
}

#form__container h2 {
  margin-bottom: var(--gap-s);
}

#name__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-xs);
}

.full-name {
  display: grid;
  gap: var(--gap-xs);
}

#email__container {
  display: grid;
  gap: var(--gap-xs);
}

.tshirt-colour {
  
}

/* main image background */

.img-gradient {
  position: relative;
  max-width: 100%;
}

.img-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #e9e8ec 2%, #e9e8ecb3 20%, #e9e8ec66);
}
/* Footer */

footer {
  background-color: var(--colour-foreground);
  padding: var(--gap-xs) 0;
  text-align: center;

  font-size: var(--fs-xs);
}
