* {
    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;
    font-family: 'Schibsted Grotesk', sans-serif;

    box-sizing: border-box;
}

a:hover, a:focus, a:visited {
    color: inherit;
}

img {
    width: 100%;
    box-sizing: border-box;
}