:root {
  --color-primary: #023047;
  --color-secondary: #ffb703;
  --color-fg: #219ebc;
  --color-bg: #eeeeee;
  --color-highlight: #fb8500;
  --color-dark: #181818;
  --color-light: #8ecae6;

  --fs-title: 3.5rem;
  --fs-subtitle: 3rem;
  --fs-body: 1.25rem;
  --fs-caption: 1.25rem;
  --fs-button: 1.25rem;
  --fs-nav: 1.25rem;

  --fw-bold: 700;
  --fw-normal: 400;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;

  --border-radius: 0.5rem;

  --page-width: 100vw;
}

body {
  width: 100%;

  background-color: var(--color-bg);
  color: var(--color-primary);

  font-size: var(--fs-body);
}

/* Header */

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    to right bottom,
    var(--color-fg),
    var(--color-light)
  );

  padding: var(--spacing-md) var(--spacing-xs);
}

#logo {
  width: 35%;
}

#banner h1 {
  font-family: "Cookie", cursive;
  font-size: var(--fs-title);
}

#banner p {
  font-size: var(--fs-caption);
}

#menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: var(--spacing-xs);

  margin: var(--spacing-md) 0;
  padding: var(--spacing-md) var(--spacing-xs);
  background-color: var(--color-light);
}

/* Hamburger */

#menu-toggle {
  display: none;
}

.menu__item {
  margin: 0 var(--spacing-sm);
  overflow: hidden;
}

#menu-button-container {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-button,
#menu-button::before,
#menu-button::after {
  display: block;
  background-color: var(--color-primary);
  position: absolute;
  height: 3px;
  width: 20px;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px;
}

#menu-button::before {
  content: "";
  margin-top: -6px;
}

#menu-button::after {
  content: "";
  margin-top: 6px;
}

#menu-toggle:checked + #menu-button-container #menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + #menu-button-container #menu-button {
  background-color: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + #menu-button-container #menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  #menu-button-container {
    display: flex;
    position: absolute;
    right: var(--spacing-xs);
    top: var(--spacing-xs);
  }
  #menu {
    top: 0;
    margin: 0;
    padding: 0;
    gap: 0;
    right: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: inherit;
  }
  .menu__item {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ #menu .menu__item {
    height: var(--fs-subtitle);
    font-size: var(--fs-nav);
    padding: var(--spacing-xs);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
  }

  .menu__item:not(:last-child) {
    border-bottom: 1px solid var(--color-bg);
  }
}

/* Main */

#hero {
  padding: var(--spacing-md) var(--spacing-sm);
}

#welcome {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-lg);
}

#welcome h2 {
  font-family: "Cookie", cursive;
  font-size: var(--fs-subtitle);
}

#hero p {
  text-align: justify;
}

#hero-img {
  border: 2px solid var(--color-primary);

  border-radius: var(--border-radius);
}

#products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-xs);

  margin: var(--spacing-xs) var(--spacing-md)
}

.products__item {
  aspect-ratio: 1 / 1;
}

#products img {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}