* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 90px 59px 1fr 1fr 66px;
  gap: 20px;
}

/* header section */
.header-logo {
  display: block;
  /* height: 75px; */
  height: 110px;
  border-radius: 76px;
}

/* svg hamburger style */
.hb {
  display: none;
  background-color: blue;
  color: black;
  width: 100px;
  margin: 0 auto;
}

header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  color: darkgoldenrod;
  padding-top: 27px;
  margin-left: 182px;
}
/* nav bar section */

nav {
  background-color: white;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  justify-content: flex-end;
}

a {
  text-decoration: solid;
  padding: 1.4rem;
  color: black;
  font-weight: bolder;
}
a:hover {
  color: darkgoldenrod;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 29px;
}
main div:nth-child(1) {
  background-color: blue;
}
main div:nth-child(2) {
  background-color: white;
}
p {
  font-size: xxx-large;
  text-align: end;
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aquamarine;
  padding: 20px;
  font-size: 1rem;
}

/* content section style */
content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

content div:nth-child(1) {
  background-color: orange;
}
content div:nth-child(2) {
  background-color: indianred;
}
content div:nth-child(3) {
  background-color: red;
}
content div:nth-child(4) {
  background-color: greenyellow;
}
/* footer section */

footer {
  color: black;
  background-color: plum;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

/* image section */
.main-image {
  width: 101%;
  height: 96%;
  padding: 17px;
}

.content-image1 {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.content-image2 {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.content-image3 {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.content-image4 {
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* media section */
@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-rows: 120px 594px 1fr 120px;
    gap: 3rem;
  }

  /* header section grid style */
  header {
    display: grid;
    grid-column: 1 /-1;
  }
  /* svg hamburger section */
  .hb {
    background-color: blue;
    color: black;
    display: flex;
    margin-right: 3px;
  }
  .svgText-wrapper {
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
  }

  h1 {
    color: darkgoldenrod;
    padding-top: 27px;
    font-size: 12px;
  }

  /* nav section */
  nav {
    display: none;
  }

  /* main section grid style */
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: flex;
    flex-direction: column-reverse;
  }
  /* main content */

  p {
    font-size: 39px;
    text-align: inherit;
    padding-left: 14px;
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
    padding: 19px;
    font-size: 11px;
  }

  /* content section gird style */
  content {
    display: grid;
    /* grid-template-rows: repeat(2,1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 180px 180px;
  }
  /* footer section style */

  a {
    display: none;
  }
  .hb-footer {
    background-color: blue;
    color: black;
  }
  .svg-footer {
    display: flex;
    justify-content: center;
  }

  /* image section */
  .main-image {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .content-image1 {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .content-image2 {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .content-image3 {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .content-image4 {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}
